<!DOCTYPE html>
<html>
<head>
  <title>RailsgirlscaliExampleStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <% if admin_signed_in? %>
    <%= link_to "Cerrar Sesión", destroy_admin_session_path, method: :delete %>
  <% end %>
  <%= yield %>
</body>
</html>
